*{
    margin:0;
    padding: 0;
    font-family: 'Helvetica';
    font-style: normal;
}
/* header div style starts here */
.header{
    background-color:#FCFCFC;
    padding: 17px 0;
}
nav{
    width:1284px;
    margin: 0 auto;
    display: table;
}
.comorins{
    width: 192px;
    height: 92px;
    display:table-cell;
}
.header .header-ul{
    display: table-cell;
    width: 1091px;
    vertical-align: middle;
    text-align: right;
}
.header .header-ul .header-ul-list{
    display: inline-block;
    margin-right: 50px;
}
.header .header-ul .header-ul-list:last-child{
    margin-right: 0px;
}
.header .header-ul .header-ul-list a{
    text-decoration: none;
}
.header .header-ul .header-ul-list button{
    color: #FFFFFF;
    background-color: #EC483C;
    border-radius: 10px;
    border: none;
    padding: 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px
}
.header .header-ul .header-ul-list select{
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #494D56;
    background-color:#FCFCFC;
}
/* header div style ends here */
/* banner div style starts here */
.banner1-header{
    margin:0 auto;
    width:1284px;
    display: table;
}
.banner1{
    background-image: url("Asset 4 1.png");
    opacity: 0.4;
    padding:65px 0 81px;
}
.banner1-left-sec{
    width: 645px;
    display: table-cell;
    vertical-align: middle;
}
.banner1-h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    color: #494D56;
    display: flex;
    align-items: center;
}
.banner1-p{
    font-weight: 400;
    font-size: 20px;
    line-height: 154.4%;
    display: flex;
    align-items: center;
    font-feature-settings: 'kern' off;
    color: #666666;
    width:487px;
    margin-top: 27px;
}
.banner1-img{
    display: table-cell;
    float:right;
}
.banner2{
    background-color: #1F2631;
    padding:43px 0;
}
.banner2-header{
    width:1132px;
    margin: 0 auto;
    display: table;
}
.banner2-img{
    width:128px;
    height:112px;
    display: table-cell;
}
.banner2-text{
    display: table-cell;
    width:971px;
    vertical-align: middle;
    position: relative;
}
.banner2-p{
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
    width: 512px;
}
.banner2-input{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #494D56;
    padding: 17px 125px 18px 24px;
    position: absolute;
    right: 0;
    top:26px;
}
/* banner div style ends here */
/* section div style starts here */
section{
    padding:102px 0 80px;
    background-color: #F5F5F5;
}
.section-header{
    width:1284px;
    margin: 0 auto;
}
.nav-list{
    display:inline-block;
    margin-left: 40px;
}
.nav-list:last-child{
    float:right;
}
.section1-button{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.4%;
    color: #494D56;
    background: #E5E5E5;
    border-radius: 10px;
    border: none;
    width: 155px;
    padding: 10px 0 14px;
    
}
.nav-list:first-child{
    margin-left: 0px;
}
.search{
    padding: 9px 24px 4px 175px;
    border: 1px solid #494D56;
    border-radius: 10px;
}
.section2{
    margin: 53px 0 77px;
}
.section2-col{
    width:296px;
    background: #FCFCFC;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-bottom:33px ;
    margin-left: 31px;
    display: inline-block;
}
.section2-col:first-child{
    margin-left: 0px;
}
.section2-col-text{
    width: 246px;
    margin: 29px auto 0;
}
.section2-p1{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #494D56;
}
.section2-p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #595959;
    margin: 20px 0 0 7px;
}
.section2-row{
    margin-top: 50px;
}
.section2-row:first-child{
    margin-top: 0px;
}
.section3{
    width: 716px;
    margin: 0 auto;
}
.section3-list{
    display: inline-block;
    margin-left: 9px;
}
.section3-list:first-child{
    margin-left: 0px;
}
.section3-list button{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #494D56;
    background: #E5E5E5;
    border-radius: 10px;
    border: none;
    padding:13px 0 13px;
}
.section3-list .button-max{
    width: 156px;
}
.section3-list .button-min{
    width:50px;
}
.section3-list .button-mid{
    width: 106px;
}
/* section div style ends here */
/* footer div style starts here */
.footer1{
    background: #494D56;
}
.footer1-content{
    width: 1206px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer1-content .mid{
    width: 400px;
    margin-left: 150px;
}
.footer1-content ul{
    column-count: 3;
    list-style: none;
}
.footer1-content a{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer1-content button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.4%;
    color: #FFFFFF;
    background: #EC483C;
    border-radius: 10px;
    border: none;
    padding: 0 14px;
    margin-top: 49px;
}
.footer1-content .end{
    width: 355px;
    margin-left: 80px;
}
.end-img{
    padding: 4px;
    background: #666666;
}
.footer1-content p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.footer2{
    background: #3A3E47;
    padding: 13px 0 16px;
}
.footer2-content{
    width:1206px;
    margin: 0 auto;
}
.footer2-content ul{
    display: inline-block;
    float: right;
}
.footer2-content li{
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 40px;
}
.footer2-content p{
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
