body{
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #f1f3f6;
    color: #212121;
    line-height: 1.4;
    font-weight: bolder;
}  
/* header style starts here */
header{
    position:sticky !important;
    top: 0;
    left:0;
    right: 0;
    z-index: 2;
}
.navbar img{
    height: 50px;
}
.nav-content{
    flex-grow:unset;
}
.nav-input{
    width: 450px !important;
}
.nav-ul li{
    margin-left: 20px;
}
.nav-ul span{
    vertical-align: middle;
    margin-left: 4px;
}
/* header style ends here */
/* footer style starts here */
.footer {
    background-color: #172337
}